.moviesCardList {
    padding: 10px 70px;
}

.moviesCardList__box {
    padding-top: 70px;

}

.moviesCardList__items {}

.moviesCardList__item {
    display: grid;
    grid-template-columns: repeat(auto-fit, 364px);
    justify-content: center;
    gap: 27px 24px;
    margin-block: 0;
    padding-inline: 0;
}

.moviesCardList__btn-box {
    padding-top: 78px;
    padding-bottom: 55px;
    display: flex;
    justify-content: center;
}

.moviesCardList__btn {

    transition: .4s ease-in-out;
    min-width: 320px;
    height: 36px;
    border: 1px #E8E8E8 solid;
    border-radius: 6px;
    background-color: white;
    line-height: 15px;
}

@media screen and (max-width: 770px) {
    .moviesCardList__item {
        grid-template-columns: repeat(auto-fit, 339px);
        gap: 34px 30px;
        height: 1143px;
        overflow: hidden;
    }

    .moviesCardList {
        padding: 10px 30px;
    }

    .moviesCardList__btn-box {
        padding-bottom: 68px;
    }
}

@media screen and (max-width: 600px) {
    .moviesCardList__btn {
        min-width: 240px;
    }

}

@media screen and (max-width: 330px) {
    .moviesCardList__box {
        padding-top: 35px;
    }

    .moviesCardList__item {
        grid-template-columns: repeat(auto-fit, 300px);
        gap: 15px;
        height: 1248px;

    }

    .moviesCardList {
        padding: 14px 10px;
    }

    .moviesCardList__btn-box {
        padding-bottom: 65px;
    }


}