.moviesCardList {
    padding: 10px 70px;
}

.moviesCardList__box {
    padding-top: 70px;

}

.moviesCardList__items {}

.moviesCardList__item {
    display: grid;
    grid-template-columns: repeat(auto-fit, 364px);
    justify-content: center;
    gap: 27px 24px;
    margin-block: 0;
    padding-inline: 0;
}

.moviesCardList__btn-box {
    padding-top: 78px;
    padding-bottom: 55px;
    display: flex;
    justify-content: center;
}

.moviesCardList__btn {
   
    background-color: #E8E8E8;
    min-width: 320px;
    height: 36px;
   
    line-height: 15px;
}

@media screen and (max-width: 770px) {
    .moviesCardList__item {
        grid-template-columns: repeat(auto-fit, 339px);
        gap: 34px 30px;
        height: 1143px;
        overflow: hidden;
    }

    .moviesCardList {
        padding: 10px 30px;
    }

    .moviesCardList__btn-box {
        padding-bottom: 68px;
    }
}
@media screen and (max-width: 330px) {
    .moviesCardList__item {
        grid-template-columns: repeat(auto-fit, 300px);
        gap: 16px;
        
    }

    .moviesCardList {
        padding: 14px 10px;
    }

    .moviesCardList__btn-box {
        padding-bottom: 52px;
    }
}