.moviesCard {
    list-style: none;
}

.moviesCard__box {
    display: flex;
    justify-content: space-between;
    padding: 14px 14px 13px 14px;
    background-color: #FDFDFD;
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
}

.moviesCard__info {}

.moviesCard__title {
    margin-block: 0;

    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
}

.moviesCard__time {
    margin-block: 0;
    padding-top: 9px;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #A0A0A0;
}

.moviesCard__btn {
    border: none;
    padding: 0;
    background-color: white;
    background-image: url(../../images/savenot.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 770px) {

    .moviesCard__pic {
        width: 339px;
    }
}

@media screen and (max-width: 330px) {

    .moviesCard__pic {
        width: 300px;
    }
}