.notFound {
    position: absolute;
    top: -90px;
    left: 0;
    background-color: white;
    width: 100%;
    height: 500px;
    padding-top: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notFound__box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notFound__title {
    margin: 0;
    margin-block: 0;
    font-weight: 400;
    font-size: 140px;
    line-height: 169px;
}

.notFound__text {
    margin-block: 0;
    padding-top: 7px;

}

.notFound__link {
    padding-top: 182px;
    text-decoration: none;
    color: #3456F3
}

@media screen and (max-width: 770px) {
    .notFound {
        padding-top: 404px;
    }
}

@media screen and (max-width: 600px) {
    .notFound {
        padding-top: 332px;
    }

    .notFound__title {
        font-size: 80px;
        line-height: 97px;
    }

    .notFound__box {
        font-size: 12px;
        line-height: 15px;
    }

    .notFound__link {
        padding-top: 285px;
    }
}