.portfolio {
    padding: 0 70px 125px 70px;
}

.portfolio__title {
    margin-block: 0;
    color: #A0A0A0;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}

.portfolio__box {
    padding-top: 50px;
}

.portfolio__nameLinks {
    margin-block: 0;
    padding-inline: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.portfolio__nameLink {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portfolio__boxLinks {}

.portfolio__nameLink-text {
    margin-block: 0;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
}

.portfolio__link {
    color: black;
    text-decoration: none;
    padding-right: 5px;
}

.portfolio__pic {}