.page {
    background-color: #FFF;
    color: #000;
    margin: 0 auto;
    max-width: 1280px;
    box-sizing: border-box;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    /* position: relative; */
}

.btn {
    background-color: #FFF;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #000;
    text-decoration: none;
    padding: 0;
    border: none;
}

.btn:hover {
    background-color: #2BE080;
}
.section{
    padding: 110px 70px;
}
.section-title {
    margin-block: 0;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    padding-bottom: 23px;
    border-bottom: 1px #000 solid;
}

.section-subtitle {
    margin-block: 0;
    padding-top: 26px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 110px;
    max-width: 500px;
}

@media screen and (max-width: 770px) {
    .section{
        padding: 90px 50px;
    }
    /* .section-title {
        font-size: 20px;
        line-height: 24px;
    } */

    .section-subtitle {
        font-size: 12px;
        line-height: 18px;
        padding-top: 22px;
        padding-bottom: 93px;
        max-width: 450px;
    }

}
@media screen and (max-width: 330px) {
    .btn{
        font-size: 10px;
        line-height: 16px;
    }
    .section{
        padding: 70px 18px;
    }
    .section-title {
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 27px;
    }
    .section-subtitle {
    font-size: 11px;
line-height: 16px;
padding-top: 16px;
        padding-bottom: 58px;
    }
}