.searchForm{
    padding: 50px 70px 70px 70px;
    border-bottom: 1px #E8E8E8 solid;
}
.searchForm__box{
    min-height: 72px;
    background-color: #F9F9F9;
    border-radius: 9px;
    display: grid;
    grid-template-columns: auto 140px 78px 150px;
    align-items: center;
    
}
.searchForm__input{
    padding: 0 0 0 45px;
    border-width: 0;
background-color: #F9F9F9;
    background-image: url('../../images/icon.svg'); 
    background-repeat: no-repeat;
    background-position: 17px;
}
.searchForm__input::placeholder {
    padding-left: 15px;
    font-size: 18px;
    line-height: 20px;
  }
.searchForm__btn{
    padding: 0;
    border-width: 0;
    margin: 16px 0;
    background-image: url('../../images/find.svg');
 background-repeat: no-repeat;
 background-position: center;
 background-color: #F9F9F9;
 border-right: 1px #E8E8E8 solid;
 height: 34px;
}
.searchForm__tumbl{
    padding-left: 30px;
}
.searchForm__shortFilms{
    margin-block: 0;
    font-weight: 400;
font-size: 13px;
line-height: 18px;
}
@media screen and (max-width: 770px) {
    .searchForm{
        padding: 60px 30px 110px 30px;
    }
    .searchForm__box{
    grid-template-columns: auto 96px 82px 137px;
}}