.header {
    margin: 15px 70px 35px 70px;
    display: flex;
}


.header__box-account-menu {
    display: flex;
    gap: 30px;
}

.header__navigation-account {
    font-size: 14px;
    background-color: #F9F9F9;
    width: 100px;
    height: 36px;
}

.header__navigation-item-burger {
    background-color: #FFF;
    width: 44px;
    height: 44px;
}

@media screen and (max-width: 770px) {
    .header {
        margin: 15px 30px 35px 30px;
    }
}

@media screen and (max-width: 330px) {
    .header {
        margin: 15px 14px 29px 14px;
    }
}